<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <title>登录界面</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
</head>
<body>
<div class="wrap login_wrap">
    <div class="content">
        <div class="logo"></div>
        <div class="login_box">

            <div class="login_form">
                <div class="login_title">
                    Auth
                </div>
                <form class="form_btn" action="/api/oauth/authorize" method="get">


                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>

                    <div class="form_btn">
                        <button type="submit">Auth</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

form api
action="api/user/login" method="POST"

response:

httpstatus = 200

add_cookie:
- Authentication = UserJWT
header:
- redirect_url = http://localhost:9998/oauth/authorize?client_id=BBBBBBBBBBBBBB&redirect_uri=AAAAAAAAAAA&response_type=code&redirect_uri=XXXXXXXXXXXX&scope=YYYYYY&state=ZZZZZZZZZ
body:
- username = AAAAAAAAAAA

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>