<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
  <meta charset="utf-8">
  <title>Core Login</title>
  <link rel="stylesheet" href="/css/reset.css"/>
  <link rel="stylesheet" href="/css/common.css"/>
  <link rel="stylesheet" href="/css/font-awesome.min.css"/>
</head>
<body>
<div class="wrap login_wrap">
  <div class="content">
    <div class="logo"></div>
    <div class="login_box">

      <div class="login_form">
        <div class="login_title">
          Core Login
        </div>
        <form action="/api/user/login" method="POST">

          <div class="form_text_ipt">
            <input name="username" type="text" placeholder="手机号/邮箱" value="admin">
          </div>
          <div class="ececk_warning"><span></span></div>
          <div class="_warning"><span></span></div>
          <div class="form_text_ipt">
            <label>
              <input name="password" type="password" placeholder="密码" value="1234567">
            </label>
          </div>
          <div class="ececk_warning"><span></span></div>
          <div class="form_check_ipt">
            <div class="left check_left">
              <label><input name="remember-me" type="checkbox"> </label>
            </div>
            <div class="right check_right">
              <a href="#"></a>
            </div>
          </div>
          <div class="form_btn">
            <button type="submit">Login</button>
          </div>
          <div class="form_reg_btn">
            <span>No Account？</span><a href="/register">Register Now</a>
          </div>
        </form>
        <div class="other_login">
          <div class="left other_left">
          </div>
          <div class="right other_right">
            <a href="/login/qq"><i class="fa fa-qq fa-2x"></i></a>
            <a href="/login/weixin"><i class="fa fa-weixin fa-2x"></i></a>
            <a href="/login/weibo"><i class="fa fa-weibo fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

form api
  action="api/user/login" method="POST"

response:

  httpstatus = 200

  add_cookie:
   - Authentication = UserJWT
  header:
   - redirect_url = http://localhost:9998/oauth/authorize?client_id=BBBBBBBBBBBBBB&redirect_uri=AAAAAAAAAAA&response_type=code&redirect_uri=XXXXXXXXXXXX&scope=YYYYYY&state=ZZZZZZZZZ
  body:
   - username = AAAAAAAAAAA

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
</body>
</html>